<table class="table">
    <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col">Date</th>
        <th scope="col">Weight</th>
        <th scope="col">Set</th>
        <th scope="col">Repetition</th>
        <th scope="col">Missing</th>
        <th scope="col">Total Work</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">Maximum Weight</th>
        <td>{{type["maxWeightRow"]["Date"]}}</td>
        <td>{{type["maxWeightRow"]["Weight"]}}</td>
        <td>{{type["maxWeightRow"]["Set"]}}</td>
        <td>{{type["maxWeightRow"]["Repetition"]}}</td>
        <td>{{type["maxWeightRow"]["Missing"]}}</td>
        <td>{{type["maxWeightRow"]["Work"]}}</td>
      </tr>
      <tr>
        <th scope="row">Maximum Work</th>
        <td>{{type["maxWorkRow"]["Date"]}}</td>
        <td>{{type["maxWorkRow"]["Weight"]}}</td>
        <td>{{type["maxWorkRow"]["Set"]}}</td>
        <td>{{type["maxWorkRow"]["Repetition"]}}</td>
        <td>{{type["maxWorkRow"]["Missing"]}}</td>
        <td>{{type["maxWorkRow"]["Work"]}}</td>
      </tr>
    </tbody>
  </table>